@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <div class="panel chart-panel-1">
            <div class="panel-header">
                <h5>Deposit Permonth Chart</h5>
            </div>
            <div class="panel-body">
                <div id="columnChart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-header">
                <h5>Member Debit Credit Chart</h5>
            </div>
            <div class="panel-body">
                <div id="pieChart"></div>
            </div>
        </div>
    </div>
</div>
