
@{
    ViewBag.Title = "Create";
}
<div class="dashboard-breadcrumb mb-25">
    <h2>Director Office Entry</h2>
</div>
<div class="dashboard-breadcrumb mb-25">
    <div class="row g-3">

        <div class="col-10">
            <button onclick="history.back()" class=" btn btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
        </div>
        <div class="col-2">
            <button onclick="history.forward()" class="btn btn-primary float-end">Forward <i class="fa fa-arrow-right" aria-hidden="true"></i> </button>
        </div>
        <div class="card mb-20">
            <div class="card-body">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="office_id" class="form-label">Office ID</label>
                        <select id="office_id" class="form-select">
                            <option selected>Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputOffice_Name4" class="form-label">Office Name</label>
                        <input type="text" name="Office_Name" class="form-control" id="inputOffice_Name4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputOffice_Code4" class="form-label">Office Code</label>
                        <input type="text" name="Office_Code" class="form-control" id="inputOffice_Code4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputAuthorize_user4" class="form-label">Authorize User</label>
                        <select id="inputAuthorize_user4" class="form-select">
                            <option selected>Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <div class="input-group-with-icon">
                            <input type="email" class="form-control pe-0" id="inputWithIconRight" placeholder="example@info.com">
                            <span class="input-icon">
                                <i class="fa-light fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputContact_Officer4" class="form-label">Contact Officer</label>
                        <input type="text" name="Contact_Officer" class="form-control" id="inputContact_Officer4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputInvestor4" class="form-label">Investor</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="Office_StartDate" class="form-label">Office Start Date</label>
                        <input type="date" name="Office_StartDate" class="form-control" id="Office_StartDate">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress4" class="form-label">Address</label>
                        <input type="text" name="Address" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-4">
                        <label for="inputPostal_Code4" class="form-label">Postal Code</label>
                        <select id="inputPostal_Code4" class="form-select">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Division" class="form-label">Division</label>
                        <select id="Division" class="form-select">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Distric" class="form-label">Distric</label>
                        <select id="Distric" class="form-select">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="Upozila" class="form-label">Upozila</label>
                        <select id="Upozila" class="form-select">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Unio_n" class="form-label">Union</label>
                        <select id="Unio_n" class="form-select">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Thana" class="form-label">Thana</label>
                        <input type="text" name="Thana" class="form-control" id="Thana">
                    </div>
                    <div class="col-4">
                        <label for="Village" class="form-label">Village</label>
                        <input type="text" name="Village" class="form-control" id="Village">
                    </div>
                    <div class="col-md-4">
                        <label for="Road" class="form-label">Road</label>
                        <input type="text" name="Road" class="form-control" id="Road">
                    </div>
                    <div class="col-md-4">
                        <label for="Ward_No" class="form-label">Ward No</label>
                        <input type="text" name="Ward_No" class="form-control" id="Ward_No">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

