@{
    ViewBag.Title = "Director_Office";
}

<div class="card mb-20">
    <div class="card-header">
       Director Office Entry
    </div>
    <div class="card-body">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="Office_id" class="form-label">Office ID</label>
                <input type="number" name="Office_id" class="form-control" id="Office_id">
            </div>
            <div class="col-md-6">
                <label for="inputOffice_Name4" class="form-label">Office Name</label>
                <input type="text" name="Office_Name" class="form-control" id="inputOffice_Name4">
            </div>
            <div class="col-md-6">
                <label for="inputOffice_Code4" class="form-label">Office Code</label>
                <input type="text" name="Office_Code" class="form-control" id="inputOffice_Code4">
            </div>
            <div class="col-md-6">
                <label for="inputAuthorize_user4" class="form-label">Authorize User</label>
                <input type="text" name="Authorize_user" class="form-control" id="inputAuthorize_user4">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <div class="input-group-with-icon">
                    <input type="email" class="form-control pe-0" id="inputWithIconRight" placeholder="example@info.com">
                    <span class="input-icon">
                        <i class="fa-light fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputContact_Officer4" class="form-label">Contact Officer</label>
                <input type="text" name="Contact_Officer" class="form-control" id="inputContact_Officer4">
            </div>
            <div class="col-md-6">
                <label for="inputInvestor4" class="form-label">Investor</label>
                <input type="text" name="Investor" class="form-control" id="inputInvestor4">
            </div>
            <div class="col-12">
                <label for="inputAddress4" class="form-label">Address</label>
                <input type="text" name="Address" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-4">
                <label for="inputPostal_Code4" class="form-label">Postal Code</label>
                <input type="number" name="Postal_Code" class="form-control" id="inputPostal_Code4">
            </div>
            <div class="col-md-4">
                <label for="Division" class="form-label">Division</label>
                <input type="text" name="Division" class="form-control" id="Division">
            </div>
            <div class="col-md-4">
                <label for="Distric" class="form-label">Distric</label>
                <input type="text" name="Distric" class="form-control" id="Distric">
            </div>
            <div class="col-4">
                <label for="Upozila" class="form-label">Upozila</label>
                <input type="text" name="Upozila" class="form-control" id="Upozila">
            </div>
            <div class="col-md-4">
                <label for="Unio_n" class="form-label">Union</label>
                <input type="text" name="Unio_n" class="form-control" id="Unio_n">
            </div>
            <div class="col-md-4">
                <label for="Thana" class="form-label">Thana</label>
                <input type="text" name="Thana" class="form-control" id="Thana">
            </div>
            <div class="col-4">
                <label for="Village" class="form-label">Village</label>
                <input type="text" name="Village" class="form-control" id="Village">
            </div>
            <div class="col-md-4">
                <label for="Road" class="form-label">Road</label>
                <input type="text" name="Road" class="form-control" id="Road">
            </div>
            <div class="col-md-4">
                <label for="Ward_No" class="form-label">Ward No</label>
                <input type="text" name="Ward_No" class="form-control" id="Ward_No">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>